IDI_ICON1               ICON    DISCARDABLE     "visit.ico"

#define VER_FILEDESCRIPTION_STR  "VisIt MetaData Server\0"
#define VER_INTERNALNAME_STR     "VisIt MetaData Server\0"
#define VER_ORIGINALFILENAME_STR "mdserver.exe\0"

#include <versionvars.rc>
#include <versioninfo.rc>
