IDI_ICON1               ICON    DISCARDABLE     "visit.ico"

#define VER_FILEDESCRIPTION_STR  "VisIt Component Launcher\0"
#define VER_INTERNALNAME_STR     "VisIt Component Launcher\0"
#define VER_ORIGINALFILENAME_STR "vcl.exe\0"

#include <versionvars.rc>
#include <versioninfo.rc>
